Repository automatic-ripping-machine/automatic-ripping-machine, pull requests merged in 2022-09, with the labels that each got.

#566 Update start_arm_container.sh
  scripts/docker/start_arm_container.sh
Labels: Docker

#565 Update docker-setup.sh
  scripts/installers/docker-setup.sh
Labels: Docker

#568 Script Updates
  scripts/docker/runit/arm_user_files_setup.sh
  scripts/docker/start_arm_container.sh
  scripts/installers/debian-install.sh
  scripts/installers/docker-setup.sh
  scripts/installers/ubuntu-20.04-install.sh
  scripts/installers/ubuntu-quicksync.sh
  scripts/thickclient/arm_wrapper.sh
Labels: bug, Fixed, Ubuntu 18, Ubuntu 20

#571 Fix for #570 - debian 11 install script not working
  scripts/installers/debian-install.sh
Labels: bug, v2_devel

#581 Fix publish-image workflow repo-agnosticism
  .github/workflows/publish-image.yml
Labels: enhancement, v2_devel, Fixed

#580 dev branch now properly checked out during clone
  scripts/installers/ubuntu-20.04-install.sh
Labels: v2_devel, Fixed, Ubuntu 20
